table, th, td{border: 2px solid rgb(79, 45, 164);border-collapse:collapse}
td, th{padding:8px 8px; text-align: center;}
th {background-color: rgb(157, 161, 255); color: rgb(30, 9, 192);}
tr.odd {background-color: rgb(254, 211, 192);}
tr.even {background-color: rgb(177, 220, 247);}